name: CI

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, '#wip') }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: windows
            arch: amd64
          - os: linux
            arch: amd64
    
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.25'

      - name: Verify dependencies
        run: go mod verify

      - name: Build for ${{ matrix.os }}
        run: GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -v ./cmd/annotator

      - name: Run go vet
        run: go vet ./...

      - name: Run tests
        run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...
